/* add fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}
/* common styles */
    .btn-main{
        border: 0;
        border-radius: 8px;
        color: #FFF;
        background: #FF900E;
        padding: 20px 25px;
        font-size: 1.25rem;
        font-weight: 600;
        cursor: pointer;
        
    }
    /* .exprince-btn{
        bo
    } */
/* header section */
header{
    background-color: rgba(225, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 400;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner section */
.banner-cnt{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-dcpt{
    color: #727272;
}
.banner img{
    margin-top: 25px;
    width: 100%;
}
/* main section */
/* top part */
.top-part{
    display: flex;
    margin-top: 20px;
    padding-left: 70px;
}
.team-pic{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
}
/* .team-pic >img{
    height: 100%;
    width: 100%; 
} */
.text-top{
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 20px;
}
.main-heading{
    font-size: 40px;
    font-weight: 600;
}
.main-heading-text1{
    color: rgb(179, 118, 5);
}
.main-heading-text2{
    color:  #FF900E;
}
.main-text{
    font-size:medium;
    font-style: italic;
}
.mainbtn{
    padding-top: 50px;
}
/* midel part */
.midel-part{
    display: flex;
    margin-top: 80px;
    padding-left: 70px;
}
.midel-text{
    padding-top: 50px;
}
.midel-header-part{
    font-size: 30px;
}
.midel-header-text{
    font-size: 18px;
    padding-top: 0;
}
.quts-item{
    padding-top: 30px;
    padding-left: 90px;
    padding-right: 230px;
}
.midel-quts{
    background-color: rgb(240, 196, 165);
    box-shadow: 5px 5px 5px slateblue;
}
.midel-hdin{
    font-size: 25px;
}
.mdl-text{
    color: purple;
    font-size: 15px;
    font-weight: 600;
    padding-top: 0;
}
.midel-img{
    height: 100%;
    width: 100%;
}
/* middel secend part */
.mide-secend-part{
    margin-top: 100px;
    margin-right: 100px;
}
.text-part{
    margin-right: 700px;
    padding-left: 50px;
}
.ms-title{
    font-size: 40px;
    color: darkviolet;
    font-weight: 600;
}
.ms-text{
    font-size: 20px;
    font-weight: 500;
}
.icon{
    margin-top: 90px;
    display: flex;
    padding-left: 100px;
    justify-content:space-around;
}
.icon-place{
    height: 200px;
    width: 200px;
    border: 1px solid orange;
    text-align: center;
}
.place{
    padding-top: 30px;
}
/* last part */
.last-text{
    margin-top: 120px;
    text-align: center;
}
.last-title{
    font-size: 35px;
    font-weight: 700;
}
.last-p{
    font-size: 15px;
    font-weight: 500;
}
.last-pic{
    margin-top: 100px;
}
.last-pic>img{
    padding: 0 80px;
}
/* footer section */
footer{
    margin-top: 100px;
}
.footer{
    height: 50px;
    width: 1000px;
    background-color: #FF900E;
    margin-left: 350px;
}
.footer-text{
    text-align: center;
    padding: 15px;
}
/* .hide{
    display: none;
} */



/* responsive section */
/* mobile */
@media screen and (max-width:576px) {
    header{
        padding: 10px;
    }
    nav{
        display: block;
        justify-content: space-between;
    }
    main{
        padding-left: 5px;
    }
    .banner-title{
        font-size: larger;
        font-weight: 700;
    }
    .top-part{
        display: block;
        padding-left: 5px;
    }
    .team-pic{
        display: block;
    }
    .text-top{
        height: 100%;
        width: 100%;
        padding-left: 10px;
    }
    .midel-part{
        display: block;
        padding-left: 10px;
    }
    .quts-item{
        padding-top: 30px;
        padding-left: 5px;
        padding-right: 0px;
    }
    .midel-img>img{
        height: 100%;
        width: 100%;
    }
    .icon{
        justify-content: space-between;
    }
    .mide-secend-part{
        padding-left: 10px;
    }
    .text-part{
        margin-right: 5px;
        padding-left: 5px;
    }
    .footer{
        width: 100%;
        margin-left: 5px;
        height: 65px;
    }
   
    
}
/* tablet */
@media screen and(min-width:576px) and (max-width:992px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    main{
        max-width: 1000px;
        padding-left: 10px;
        
    }
    .midel-part{
        display: block;
        padding-left: 10px;
    }
    .quts-item{
        padding-left: 10px;
        padding-right: 50px;
        
    }
    .midel-quts{
        width: 400px;
        height: 200px;
        display: flex;
        
    }
}