/* add fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}
/* common styles */
    .btn-main{
        border: 0;
        border-radius: 8px;
        color: #FFF;
        background: #FF900E;
        padding: 20px 25px;
        font-size: 1.25rem;
        font-weight: 600;
        cursor: pointer;
        
    }
/* header section */
header{
    background-color: rgba(225, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 400;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner section */
.banner-cnt{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-dcpt{
    color: #727272;
}
.banner img{
    margin-top: 25px;
    width: 100%;
}
/* main section */
/* top part */
.top-part{
    display: flex;
    margin-top: 20px;
    padding-left: 70px;
}
.team-pic{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
}
.team-pic >img{
    height: 100%;
    width: 100%;
}
.text-part{
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 120px;
}
.main-heading{
    font-size: 40px;
    font-weight: 600;
}
.main-heading-text1{
    color: rgb(179, 118, 5);
}
.main-heading-text2{
    color:  #FF900E;
}
.main-text{
    font-size:medium;
    font-style: italic;
}
.mainbtn{
    padding-top: 50px;
}
/* midel part */
.midel-part{
    display: flex;
    margin-top: 80px;
    padding-left: 70px;
}
.midel-text{
    padding-top: 50px;
}
.midel-header-part{
    font-size: 30px;
}
.midel-header-text{
    font-size: 18px;
    padding-top: 0;
}
.quts-item{
    padding-top: 30px;
    padding-left: 90px;
    padding-right: 230px;
}
.midel-quts{
    background-color: rgb(240, 196, 165);
    box-shadow: 5px 5px 5px slateblue;
}
.midel-hdin{
    font-size: 25px;
}
.mdl-text{
    color: purple;
    font-size: 15px;
    font-weight: 600;
    padding-top: 0;
}







.midel-img{
    height: 100%;
    width: 100%;
}
/* responsive section */
/* mobile */
@media screen and (max-width:576px) {
    header{
        padding: 10px;
    }
    nav{
        display: block;
    }
}
/* tablet */
@media screen and(min-width:576px) and (max-width:992px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}